<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>CP_Cloud ——你的云端硬盘(伪)</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>
        .main-content {
            background-color: rgb(188 220 255);
        }

        .right-content {
            background-color: #ebf5ea;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3" style="height: 8vh;">
    <a class="navbar-brand ml-3" href="/">CP_Cloud ——你的云端硬盘(伪)</a>
</nav>

<div class="main-content" style="width: 100vw; height: 92vh;">
    <div class="row" style="max-width: 1000pt; height: 100%; align-items: center; justify-content: center; margin: auto;">
        <div class="col-7 ml-5 p-4">
            <h1>欢迎使用 CP_Cloud</h1><br>
            <p>CP_Cloud 是一个高效的云存储服务，帮助您轻松存储和管理您的文件。</p>
            <p>我们提供安全、可靠的存储解决方案，支持文件上传和下载。</p>
        </div>
        <div class="right-content col-3 mr-5 p-4">
            <h3>用户登录</h3>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="输入用户名">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="输入密码">
                </div>
                <div class="form-group">
                    <label for="totp">TOTP验证码（暂未启用）</label>
                    <input type="text" class="form-control" id="totp" name="totp" placeholder="输入密码">
                </div>
                <button type="submit" class="btn btn-primary" onclick="login_check()">登录</button>
                <a href="/register" class="btn btn-secondary float-right">注册</a>
            </form>
        </div>
        <div class="col-12"><br></div>
    </div>
</div>

<script src="./js/jquery-3.7.1.min.js"></script>
<script src="./js/login_form.js"></script>
<script src="./js/common.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>
